.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  height: 6.5rem;
  padding: 0 5rem;

  ul {
    list-style: none;
  }

  a {
    padding: 0 2rem;
    text-decoration: none;
    color: var(--primary);
    font-size: 1.2rem;
    font-weight: 600;
  }
  button {
    background: var(--secondary);

    border: 0;
    border-radius: 0.25rem;

    height: 3rem;
    padding: 0 2rem;

    color: var(--white);
    font-weight: 700;
    font-size: 1rem;

    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.9);
    }
  }
}
